<div class="flex flex-col h-full justify-center items-center gap-6">
  <div class="flex flex-row justify-center items-center gap-4">
    <mat-form-field>
      <mat-label>Version</mat-label>
      <select matNativeControl required [(ngModel)]="version" (change)="onEditionChange()">
        <option value="serie">serie</option>
        <option value="anime">anime</option>
      </select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="generateJSON()">Générer JSONs</button>
    <button mat-raised-button color="accent" (click)="exportCSV()">Export CSV</button>
    <button mat-raised-button color="warn" (click)="fileInpt.click()">Import CSV</button>
    <input #fileInpt type="file" class="hidden" (change)="importCSV($event)">
    <button mat-raised-button (click)="checkImgPath()">Check img paths</button>
  </div>
  <!-- <div class="h-full flex flex-col items-center"> -->
  <form [formGroup]="form" class="h-full flex flex-col items-center gap-4">
    <div class="flex flex-row w-full justify-center items-start gap-6">
      <div class="w-80 flex flex-col justify-center">
        <h2 class="text-white text-2xl mb-4">Day by day updates</h2>
        <mat-form-field class="w-full">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Ex. Glenn" value="" formControlName="search">
        </mat-form-field>
        <mat-card class="mb-5">
          <mat-calendar #matCalendar [minDate]="minDate" [maxDate]="maxDate" [(selected)]="selectedDate"
            [dateClass]="dateClass" (selectedChange)="onDateChange($event)"></mat-calendar>
        </mat-card>
        <!-- <p class="text-white">Wordle : {{selected}}</p> -->
        <div [formGroup]="daybydayForm" class="w-80 flex flex-col justify-center">
          <mat-form-field class="w-full">
            <mat-label>Wordle</mat-label>
            <input matInput placeholder="Ex. Glenn" value="" formControlName="wordle" lowercase>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Fullname</mat-label>
            <input matInput placeholder="Ex. Glenn" value="" formControlName="fullname">
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Origine</mat-label>
            <input matInput placeholder="Ex. The walkind dead" value="" formControlName="from">
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>imgPath</mat-label>
            <input matInput placeholder="Ex. https://imgblabla.com" value="" formControlName="imgPath">
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Difficulty</mat-label>
            <input matInput type="number" placeholder="Ex. 1" value="" formControlName="difficulty">
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="daybydayFormDisable"
            (click)="onUpdateWordle()">Update</button>

        </div>
      </div>
      <form [formGroup]="bulkForm" class="flex flex-col w-full">
        <h2 class="text-white text-2xl mb-4">Bulk vision</h2>
        <div class="w-[500px]">
          <mat-form-field class="w-full">
            <mat-label>Valid names list (w/o wordles)</mat-label>
            <textarea matInput formControlName="validNames" readonly></textarea>
          </mat-form-field>
        </div>
        <div class="w-[500px]">
          <mat-form-field class="w-full">
            <mat-label>Wordles list</mat-label>
            <textarea matInput formControlName="wordles" readonly></textarea>
          </mat-form-field>
        </div>
      </form>

    </div>

  </form>
  <!-- </div> -->
</div>