<h2 mat-dialog-title>A propos</h2>
<mat-dialog-content class="">
  <p class="p-2 font-body tracking-normal text-zinc-700">
    Version : <b>Charadle - v{{ version }}</b>
  </p>
  <p class="p-2 font-body tracking-normal text-zinc-700">
    Thème : <b>{{ themeLabel$ | async }}</b> <br />Illustrations :
  </p>
  <ul class="list-disc px-6">
    @for (credit of themeCredits$ | async; track credit.url) {
      <li>
        <a [href]="credit.url" class="underline">{{ credit.text }}</a>
      </li>
    }
  </ul>
  <p class="p-2 font-body tracking-normal text-zinc-700" name="contact">
    Contact : <i>{{ contactAddress }}</i>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
</mat-dialog-actions>
