<h2 mat-dialog-title>A propos</h2>
<mat-dialog-content class="">
  <p class="p-2 font-body text-zinc-700 tracking-normal">Version : <b>Wordle {{label}} edition - v{{version}}</b>
  </p>
  <p class="p-2 font-body text-zinc-700 tracking-normal"> Thème : <b>{{themeLabel$ | async}}</b>
    <br>Illustrations :
  </p>
  <ul class="px-6 list-disc">
    <ng-container *ngFor="let credit of themeCredits$ | async">
      <li>
        <a [href]="credit.url" class="underline">{{credit.text}}</a>
      </li>
    </ng-container>
  </ul>
  <p class="p-2 font-body text-zinc-700 tracking-normal"> Contact : <i>wordle@abvdev.fr</i>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
</mat-dialog-actions>