<div class="flex flex-row justify-between py-2 h-[64px]">
  <div class="flex items-center ">
    <button (click)="openSettings()"
      class="w-10 h-10 rounded-lg ml-2 flex justify-center items-center cursor-pointer hover:bg-background-alt/75 border-b-2 bg-tertiary border-tertiary-700">
      <i class="icon icon-settings text-font"></i>
    </button>
    <button (click)="openHelp()"
      class="w-10 h-10 rounded-lg ml-2 flex justify-center items-center cursor-pointer hover:bg-background-alt/75 border-b-2 bg-tertiary border-tertiary-700">
      <i class="icon icon-help-circle text-font"></i>
    </button>
  </div>
  <div class="flex flex-col items-end">
    <h1 class="text-white font-title text-4xl font-bold whitespace-nowrap text-center text-shadow-sm shadow-black">
      Wordle</h1>
    <h2 class="text-yellow-400 text-center text-sm mt-[-5px] text-shadow-sm shadow-black">
      {{version}} edition
    </h2>
  </div>
  <div class="flex items-center justify-end w-[84px]">
    <button [matMenuTriggerFor]="colorPicker">
      <span
        class="w-8 h-8 border-2 border-tertiary-700 from-[#16A085] via-[#61045F] to-[#1FA2FF] block rounded-lg shadow-sm bg-gradient-to-tl">
      </span>
    </button>
    <mat-menu #colorPicker="matMenu">
      <div class="flex flex-col gap-4 px-4 py-2">
        <div class="grid grid-cols-3 gap-4">
          <ng-container *ngFor="let theme of themeList;trackBy:trackByFn">
            <div class="text-sm font-extralight font-body text-center flex flex-col items-center justify-center">
              <button (click)="changeTheme(theme.id)" [ngClass]="theme.id">
                <span
                  class="w-12 h-12 flex items-center justify-center rounded-lg shadow-sm bg-gradient-to-tl from-gradient-start via-gradient-middle to-gradient-end">
                  <i *ngIf="isCurrentTheme(theme.id)" class="icon icon-check text-font text-3xl font-bold"></i>
                </span>
              </button>
              {{theme.name}}
            </div>
          </ng-container>
        </div>
        <div class="flex justify-center items-center">
          <div class="text-sm font-extralight font-body text-center flex flex-col items-center justify-center">
            <button (click)="changeTheme('random')">
              <span
                class="w-12 h-12 rounded-lg shadow-sm bg-gradient-to-tl from-[#16A085] via-[#61045F] to-[#1FA2FF] flex items-center justify-center">
                <i *ngIf="isCurrentTheme('random');else randomIconTpl"
                  class="icon icon-check text-font text-3xl font-bold"></i>
                <ng-template #randomIconTpl>
                  <i class="icon icon-shuffle text-white"></i>
                </ng-template>
              </span>
            </button>
            Au hasard
          </div>
        </div>
      </div>
    </mat-menu>

    <button [matMenuTriggerFor]="menu">
      <i class="icon icon-more-vertical text-white text-xl h-12 w-12 p-3"></i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [disabled]="true" class="flex flex-row justify-start items-center">
        <i class="icon icon-calendar pr-2"></i>
        <span>Archives</span>
      </button>
      <button (click)="openHelp()" mat-menu-item class="flex flex-row justify-start items-center">
        <i class="icon icon-help-circle pr-2"></i>
        <span>Comment jouer ?</span>
      </button>
      <button [matMenuTriggerFor]="colorPicker" mat-menu-item class="flex flex-row justify-start items-center">
        <i class="icon icon-format-paint pr-2"></i>
        <span>Modifier thème</span>
      </button>
      <button (click)="openSettings()" mat-menu-item class="flex flex-row justify-start items-center">
        <i class="icon icon-settings pr-2"></i>
        <span>Paramètres</span>
      </button>
      <button (click)="changeVersion()" mat-menu-item class="flex flex-row justify-start items-center">
        <i class="icon icon-shuffle-1 pr-2"></i>
        <span>Changer version Wordle</span>
      </button>
      <button mat-menu-item [disabled]="true" class="flex flex-row justify-start items-center">
        <i class="icon icon-handshake pr-2"></i>
        <span>Contribuer</span>
      </button>
    </mat-menu>
  </div>
</div>