<div class="flex h-[64px] flex-row justify-between py-2">
  <div class="flex items-center">
    <button
      (click)="openSettings()"
      title="Paramètres"
      class="hover:bg-background-alt/75 ml-2 flex h-10 w-10 cursor-pointer items-center justify-center rounded-lg border-b-2 border-tertiary-700 bg-tertiary">
      <i class="icon icon-settings text-font"></i>
    </button>
    <button
      (click)="openHelp()"
      title="Aide"
      class="hover:bg-background-alt/75 ml-2 flex h-10 w-10 cursor-pointer items-center justify-center rounded-lg border-b-2 border-tertiary-700 bg-tertiary">
      <i class="icon icon-help-circle text-font"></i>
    </button>
  </div>
  <div class="flex flex-col items-end">
    <h1 class="whitespace-nowrap text-center font-title text-3xl font-bold text-white shadow-black text-shadow-sm">
      Name Guessr
    </h1>
    @if (envServ.version$ | async; as version) {
      <h2 class="mt-[-5px] text-center text-sm text-yellow-400 shadow-black text-shadow-sm">
        {{ version.label }} edition
      </h2>
    }
  </div>
  <div class="flex w-[84px] items-center justify-end">
    <button [matMenuTriggerFor]="colorPicker" title="Thèmes">
      <span
        class="block h-10 w-10 rounded-lg border-2 border-tertiary-700 bg-gradient-to-tl from-[#16A085] via-[#61045F] to-[#1FA2FF] shadow-sm">
      </span>
    </button>

    <div class="relative">
      <button
        [matMenuTriggerFor]="menu"
        title="Menu"
        class="hover:bg-background-alt/75 mx-2 flex h-10 w-10 cursor-pointer items-center justify-center rounded-lg border-b-2 border-tertiary-700 bg-tertiary">
        @if (showPingBadge$ | async) {
          <span class="absolute mr-[-18px] mt-[-18px] flex h-4 w-4 items-center justify-center">
            <span
              class="absolute inline-flex h-full w-full animate-custom-ping rounded-full bg-red-400 opacity-75"></span>
            <span class="relative inline-flex h-2 w-2 rounded-full bg-red-500"></span>
          </span>
        }
        <i class="icon icon-more-vertical text-xl text-white"></i>
      </button>
      @if (showPingBadge$ | async) {
        <p
          class="absolute right-3 top-16 z-10 animate-bounce-8 whitespace-nowrap rounded-md bg-slate-800 px-4 py-2 text-center text-xs text-white shadow-black text-shadow-sm before:absolute before:right-3 before:top-[-6px] before:inline-block before:h-4 before:w-4 before:rotate-45 before:rounded-sm before:bg-slate-800 before:content-['']">
          Essayez les autres versions !
        </p>
      }
    </div>
  </div>
</div>

<mat-menu #colorPicker="matMenu">
  <div class="flex flex-col gap-4 px-4 py-2">
    <div class="grid grid-cols-3 gap-4">
      @for (theme of themeList$ | async; track theme.id) {
        <div class="flex flex-col items-center justify-center text-center font-body text-sm font-extralight">
          <button (click)="changeTheme(theme.id)" [ngClass]="theme.id">
            <span
              class="flex h-12 w-12 items-center justify-center rounded-lg bg-gradient-to-tl from-gradient-start via-gradient-middle to-gradient-end shadow-sm"
              [ngClass]="{ 'border-2 border-neutral-900': isCurrentTheme(theme.id) }">
              @if (isSelectedTheme(theme.id)) {
                <span class="absolute z-10 h-12 w-12 rounded-lg bg-neutral-900 opacity-20"> </span>
                <i class="icon icon-paintbrush z-20 text-2xl font-bold text-font shadow-black text-shadow-sm"></i>
              }
            </span>
          </button>
          <span
            class="flex items-center justify-center gap-1"
            [ngClass]="{ 'font-bold text-neutral-900': isCurrentTheme(theme.id) }">
            {{ theme.name }}
            @if (isCurrentTheme(theme.id)) {
              <i class="icon icon-check font-bold"></i>
            }
          </span>
        </div>
      }
    </div>
    <div class="flex items-center justify-center">
      <div class="flex flex-col items-center justify-center text-center font-body text-sm font-extralight">
        <button (click)="changeTheme('random')">
          <span
            class="flex h-12 w-12 items-center justify-center rounded-lg bg-gradient-to-tl from-[#16A085] via-[#61045F] to-[#1FA2FF] shadow-sm"
            [ngClass]="{ 'border-2 border-neutral-900': isCurrentTheme('random') }">
            <i class="icon icon-shuffle text-xl font-bold text-white shadow-black text-shadow-sm"></i>
          </span>
        </button>
        <span
          class="flex items-center justify-center gap-1"
          [ngClass]="{ 'font-bold text-neutral-900': isCurrentTheme('random') }">
          Au hasard
          @if (isCurrentTheme("random")) {
            <i class="icon icon-check font-bold"></i>
          }
        </span>
      </div>
    </div>
  </div>
</mat-menu>

<mat-menu #changeVersionMenu="matMenu">
  <div class="flex flex-col items-start justify-center overflow-hidden">
    @for (version of versions; track version.code) {
      <div
        (click)="changeVersion(version)"
        class="relative flex w-full flex-row items-center justify-start gap-2 py-2 pl-3"
        [ngClass]="isCurrentVersion(version.code) ? 'bg-[#d6d6d6] hover:bg-[#d6d6d6]' : 'hover:bg-[#f5f5f5]'">
        <h3>{{ version.label }}</h3>
        @if (isCurrentVersion(version.code)) {
          <i class="icon icon-check"></i>
        }
        @if (showPingBadgeForVersion(version.code)) {
          <span class="absolute right-1 top-1 flex h-4 w-4 items-center justify-center">
            <span
              class="absolute inline-flex h-full w-full animate-custom-ping rounded-full bg-red-400 opacity-75"></span>
            <span class="relative inline-flex h-2 w-2 rounded-full bg-red-500"></span>
          </span>
        }
      </div>
    }
  </div>
</mat-menu>

<mat-menu #menu="matMenu">
  <button (click)="openAbout()" mat-menu-item class="flex flex-row items-center justify-start">
    <i class="icon icon-info pr-2"></i>
    <span>A propos</span>
  </button>
  <button mat-menu-item [disabled]="true" class="flex flex-row items-center justify-start">
    <i class="icon icon-calendar pr-2"></i>
    <span>Archives</span>
  </button>
  <button (click)="openHelp()" mat-menu-item class="flex flex-row items-center justify-start">
    <i class="icon icon-help-circle pr-2"></i>
    <span>Comment jouer ?</span>
  </button>
  <button [matMenuTriggerFor]="colorPicker" mat-menu-item class="flex flex-row items-center justify-start">
    <i class="icon icon-format-paint pr-2"></i>
    <span>Modifier thème</span>
  </button>
  <button (click)="openSettings()" mat-menu-item class="flex flex-row items-center justify-start">
    <i class="icon icon-settings pr-2"></i>
    <span>Paramètres</span>
  </button>
  <button
    [matMenuTriggerFor]="changeVersionMenu"
    mat-menu-item
    class="relative flex flex-row items-center justify-start">
    <i class="icon icon-shuffle-1 pr-2"></i>
    <span>Version NameGuessr </span>
    @if (showPingBadge$ | async) {
      <span class="absolute right-1 top-1 flex h-4 w-4 items-center justify-center">
        <span class="absolute inline-flex h-full w-full animate-custom-ping rounded-full bg-red-400 opacity-75"></span>
        <span class="relative inline-flex h-2 w-2 rounded-full bg-red-500"></span>
      </span>
    }
  </button>
  <button mat-menu-item [disabled]="true" class="flex flex-row items-center justify-start">
    <i class="icon icon-handshake pr-2"></i>
    <span>Contribuer</span>
  </button>
  <button (click)="reportIssue()" mat-menu-item class="flex flex-row items-center justify-start">
    <i class="icon icon-alert-triangle pr-2"></i>
    <span>Signaler problème</span>
  </button>
</mat-menu>
