<div class="pie-wrapper w-16 h-16 max-w-[74px] max-h-[74px] rounded-full bg-primary border-2 border-primary-600"
  [ngClass]="'progress-'+joker.progress">
  <button [ngClass]="classes"
    class="text-lg rounded-full text-font shadow-md flex justify-center items-center m-1 w-14 h-14 max-w-[64px] max-h-[64px] z-20 relative select-none">
    <ng-content></ng-content>
  </button>
  <div class="pie z-30">
    <div class="left-side half-circle border-complementary-900"></div>
    <div class="right-side half-circle border-complementary-900"></div>
  </div>
</div>