<div class="flex flex-col h-full">
  <ng-container *ngIf="(gameService.boardGame$ | async) ;let boardGame">
    <boardgame></boardgame>
    <p *ngIf="(serieJoker$ | async)?.soldOut && !boardGame?.success"
      class="text-white text-center text-2xl text-shadow-sm shadow-black">
      {{boardGame?.wordle?.serie}}
    </p>

    <jokers *ngIf="!boardGame?.success"></jokers>
    <ng-container *ngIf="!boardGame.end;else resultatPageLinkTpl">
      <app-keyboard *ngIf="(settingsService.hideKeyboard$ | async) === false"
        (letterClick)="onLetterClick($event)"></app-keyboard>
    </ng-container>
    <ng-template #resultatPageLinkTpl>
      <a [routerLink]="'/resultat'" class="m-12">
        <p class="underline text-center text-white text-shadow-sm shadow-black">Voir le résultat</p>
      </a>
    </ng-template>
  </ng-container>
</div>