<div class="flex flex-col h-full">

  <boardgame></boardgame>
  <p *ngIf="(serieJoker$ | async)?.soldOut && (gameService.success$ | async) !== true"
    class="text-white text-center text-2xl text-shadow-sm shadow-black">
    {{(gameService.wordle$ | async)?.serie}}
  </p>
  <div *ngIf="(gameService.success$ | async) !== true" class="flex flex-row items-end justify-center">
    <p class="text-center text-white text-shadow-sm shadow-black bg-slate-800 p-2 rounded-t-md absolute left-0">
      🎯 {{points$|async}}pts
    </p>
    <jokers></jokers>
  </div>
  <ng-container *ngIf="(gameService.end$ | async) !== true;else resultatPageLinkTpl">
    <app-keyboard *ngIf="(settingsService.hideKeyboard$ | async) === false"
      (letterClick)="onLetterClick($event)"></app-keyboard>
  </ng-container>
  <ng-template #resultatPageLinkTpl>
    <a [routerLink]="'/resultat'" class="m-12">
      <p class="underline text-center text-white text-shadow-sm shadow-black">Voir le résultat</p>
    </a>
  </ng-template>
</div>