@import "../../nucleo/css/icons.css";

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.mat-menu-item {
  display: flex !important;
}
.mat-button-wrapper {
  color: #f7f7f7 !important;
  font-weight: 400 !important;
  font-size: 12px !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
