@import "../../nucleo/css/icons.css";

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.mat-menu-item {
  display: flex !important;
}

.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #003261;
  --mdc-switch-selected-handle-color: #003261;
  --mdc-switch-selected-hover-state-layer-color: #003261;
  --mdc-switch-selected-pressed-state-layer-color: #003261;
  --mdc-switch-selected-focus-handle-color: #120a33;
  --mdc-switch-selected-hover-handle-color: #120a33;
  --mdc-switch-selected-pressed-handle-color: #120a33;
  --mdc-switch-selected-focus-track-color: #1186bf;
  --mdc-switch-selected-hover-track-color: #1186bf;
  --mdc-switch-selected-pressed-track-color: #1186bf;
  --mdc-switch-selected-track-color: #1186bf;
}
.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #dfdfdf;
}
.mat-mdc-snack-bar-container.success {
  --mdc-snackbar-container-color: #138a3c;
}
.mat-mdc-snack-bar-container.alert {
  --mdc-snackbar-container-color: #c61c1c;
}

.letter-box {
  margin: 3px;
}
.letter-row-2 .letter-box,
.letter-row-3 .letter-box,
.letter-row-4 .letter-box,
.letter-row-5 .letter-box {
  height: 5.4rem;
  width: 5.4rem;
  font-size: 3.3rem;
}

.letter-row-6 .letter-box {
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
}

.letter-row-7 .letter-box {
  height: 5rem;
  width: 5rem;
  font-size: 3.3rem;
}

.letter-row-8 .letter-box {
  height: 4.6rem;
  width: 4.6rem;
  font-size: 3rem;
}

.letter-row-9 .letter-box {
  height: 4rem;
  width: 4rem;
  font-size: 2.7rem;
}

.letter-row-10 .letter-box {
  height: 3.7rem;
  width: 3.7rem;
  font-size: 2.4rem;
}

.letter-row-11 .letter-box,
.letter-row-12 .letter-box {
  height: 3rem;
  width: 3rem;
  font-size: 2.4rem;
}

@media (max-width: 600px) {
  .letter-row-7 .letter-box {
    height: 4.5rem;
    width: 4.5rem;
    font-size: 3.3rem;
  }

  .letter-row-8 .letter-box {
    height: 4.2rem;
    width: 4.2rem;
    font-size: 3rem;
  }

  .letter-row-9 .letter-box {
    height: 3.8rem;
    width: 3.8rem;
    font-size: 2.7rem;
  }

  .letter-row-10 .letter-box {
    height: 3.4rem;
    width: 3.4rem;
    font-size: 2.4rem;
  }

  .letter-row-11 .letter-box,
  .letter-row-12 .letter-box {
    height: 2.7rem;
    width: 2.7rem;
    font-size: 2.1rem;
  }
}

@media (max-width: 550px) {
  .letter-row-6 .letter-box {
    height: 4.6rem;
    width: 4.6rem;
    font-size: 3rem;
  }

  .letter-row-7 .letter-box {
    height: 4rem;
    width: 4rem;
    font-size: 3rem;
  }

  .letter-row-8 .letter-box {
    height: 3.8rem;
    width: 3.8rem;
    font-size: 2.8rem;
  }

  .letter-row-9 .letter-box {
    height: 3.4rem;
    width: 3.4rem;
    font-size: 2rem;
  }

  .letter-row-10 .letter-box {
    height: 3rem;
    width: 3rem;
    font-size: 2.2rem;
  }

  .letter-row-11 .letter-box,
  .letter-row-12 .letter-box {
    height: 2.4rem;
    width: 2.4rem;
    font-size: 2.1rem;
  }
}

@media (max-width: 500px) {
  .letter-row-7 .letter-box {
    height: 3.8rem;
    width: 3.8rem;
    font-size: 2.8rem;
  }

  .letter-row-8 .letter-box {
    height: 3.3rem;
    width: 3.3rem;
    font-size: 2.3rem;
  }

  .letter-row-9 .letter-box {
    height: 3rem;
    width: 3rem;
    font-size: 1.8rem;
    margin: 2px;
  }

  .letter-row-10 .letter-box {
    height: 2.6rem;
    width: 2.6rem;
    font-size: 2rem;
    margin: 3px;
  }

  .letter-row-11 .letter-box,
  .letter-row-12 .letter-box {
    height: 2.2rem;
    width: 2.2rem;
    font-size: 2.1rem;
    margin: 2px;
  }
}

@media (max-width: 450px) {
  .letter-row-2 .letter-box,
  .letter-row-3 .letter-box,
  .letter-row-4 .letter-box,
  .letter-row-5 .letter-box {
    height: 5.1rem;
    width: 5.1rem;
    font-size: 3rem;
    margin: 3px;
  }

  .letter-row-6 .letter-box {
    height: 4rem;
    width: 4rem;
    font-size: 3rem;
  }

  .letter-row-7 .letter-box {
    height: 3.4rem;
    width: 3.4rem;
    font-size: 2.4rem;
  }

  .letter-row-8 .letter-box {
    height: 3rem;
    width: 3rem;
    font-size: 1.8rem;
    margin: 2px;
  }

  .letter-row-9 .letter-box {
    height: 2.8rem;
    width: 2.8rem;
    font-size: 1.8rem;
    margin: 2px;
  }

  .letter-row-10 .letter-box {
    height: 2.3rem;
    width: 2.3rem;
    font-size: 1.8rem;
    margin: 3px;
  }

  .letter-row-11 .letter-box,
  .letter-row-12 .letter-box {
    height: 2rem;
    width: 2rem;
    font-size: 1.8rem;
    margin: 2px;
  }
}

@media (max-width: 400px) {
  .letter-row-2 .letter-box,
  .letter-row-3 .letter-box {
    height: 4.8rem;
    width: 4.8rem;
    font-size: 2.7rem;
    margin: 3px;
  }

  .letter-row-4 .letter-box,
  .letter-row-5 .letter-box {
    height: 4.4rem;
    width: 4.4rem;
    font-size: 2.7rem;
    margin: 3px;
  }

  .letter-row-6 .letter-box {
    height: 3.6rem;
    width: 3.6rem;
    font-size: 2.6rem;
    margin: 2px;
  }

  .letter-row-7 .letter-box {
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    margin: 2px;
  }

  .letter-row-8 .letter-box {
    height: 2.8rem;
    width: 2.8rem;
    font-size: 1.8rem;
    margin: 2px;
  }

  .letter-row-9 .letter-box {
    height: 2.4rem;
    width: 2.4rem;
    font-size: 1.8rem;
    margin: 2px;
  }

  .letter-row-10 .letter-box {
    height: 2.1rem;
    width: 2.1rem;
    font-size: 1.6rem;
    margin: 2px;
  }

  .letter-row-11 .letter-box,
  .letter-row-12 .letter-box {
    height: 1.8rem;
    width: 1.8rem;
    font-size: 1.5rem;
    margin: 2px;
  }
}

@media (max-width: 350px) {
  .letter-row-2 .letter-box,
  .letter-row-3 .letter-box {
    height: 4.5rem;
    width: 4.5rem;
    font-size: 2.7rem;
    margin: 3px;
  }

  .letter-row-4 .letter-box {
    height: 4rem;
    width: 4rem;
    font-size: 2.4rem;
    margin: 2px;
  }

  .letter-row-5 .letter-box {
    height: 3.8rem;
    width: 3.8rem;
    font-size: 2.4rem;
    margin: 2px;
  }

  .letter-row-6 .letter-box {
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    margin: 1px;
  }

  .letter-row-7 .letter-box {
    height: 2.6rem;
    width: 2.6rem;
    font-size: 1.6rem;
    margin: 2px;
  }

  .letter-row-8 .letter-box {
    height: 2.4rem;
    width: 2.4rem;
    font-size: 1.4rem;
    margin: 2px;
  }

  .letter-row-9 .letter-box {
    height: 2rem;
    width: 2rem;
    font-size: 1.4rem;
    margin: 2px;
  }

  .letter-row-10 .letter-box {
    height: 1.8rem;
    width: 1.8rem;
    font-size: 1.2rem;
    margin: 2px;
  }

  .letter-row-11 .letter-box,
  .letter-row-12 .letter-box {
    height: 1.6rem;
    width: 1.6rem;
    font-size: 1rem;
    margin: 1px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
