<div class="flex flex-col items-center justify-center border-t-2 border-primary-600 bg-primary p-1">
  @for (row of keyboard$ | async | keyvalue; track row.key) {
    <div class="flex w-full flex-row items-center justify-center">
      @for (key of row.value; track key.letter) {
        <!--  [backgroundClass]="''" -->
        <app-keyboard-key
          [letter]="key.letter"
          [backgroundClass]="key.classes"
          (letterClick)="enterLetter($event)"></app-keyboard-key>
      }
    </div>
  }
</div>
