<div class="flex items-center justify-center gap-1">
  @if (jokersService.paintJoker$ | async; as joker) {
    <joker-button [joker]="joker" (click)="useJoker(joker)">
      @if (!showPoints) {
        <i class="icon animate-pulse-once text-lg" [ngClass]="getJokerIcon(joker.name)"></i>
      } @else {
        <span class="animate-pulse-once text-sm"> -{{ joker.points }}pts </span>
      }
    </joker-button>
  }
  @if (jokersService.placeLetterJoker$ | async; as joker) {
    <joker-button [joker]="joker" (click)="useJoker(joker)">
      @if (!showPoints) {
        <i class="icon animate-pulse-once text-lg" [ngClass]="getJokerIcon(joker.name)"></i>
      } @else {
        <span class="animate-pulse-once text-sm"> -{{ joker.points }}pts </span>
      }
    </joker-button>
  }
  @if (jokersService.serieJoker$ | async; as joker) {
    <joker-button [joker]="joker" (click)="useJoker(joker)">
      @if (!showPoints) {
        <i class="icon animate-pulse-once text-lg" [ngClass]="getJokerIcon(joker.name)"></i>
      } @else {
        <span class="animate-pulse-once text-sm"> -{{ joker.points }}pts </span>
      }
    </joker-button>
  }
</div>
