<h2 mat-dialog-title>Comment jouer ?</h2>
<mat-dialog-content class="">
  <p class="font-body text-zinc-700 tracking-normal">Ce jeu reprend le principe du jeu télévisé Motus mais sur le thème
    des séries.
    <br>Chaque jour,
    un nouveau prénom
    de
    personnage de série populaire est proposé. A vous de trouver en <strong>6 essais</strong> avec <u>n'importe quel
      prénom</u>.
  </p>
  <p class="font-body text-zinc-700 tracking-normal">
    Tentez de faire le meilleur score possible !
  </p>
  <!-- <p><strong>Devinez un nouveau prénom chaque jour</strong>Cvisé Motus.</p>
  <h2>Devinez un nouveau prénom chaque jour.</h2>
  <h3>Devinez un nouveau prénom chaque jour.</h3> -->
  <br>
  <h4 class="text-lg mb-2 text-zinc-700">Exemples :</h4>
  <div class="flex flex-col justify-center gap-2">
    <div class="flex justify-center rounded-md">
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        J
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        O
      </div>
      <div
        class="border-2 border-right bg-right rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        R
      </div>
      <div
        class="border-2 border-partial bg-partial rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        A
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        H
      </div>
    </div>
    <p class="pl-2 font-body text-zinc-700 tracking-normal">La lettre <strong class="text-right">R</strong> est dans le
      prénom à trouver
      <u>et</u>
      est bien placée.
      <br>La lettre <strong class="text-partial">A</strong> est dans le prénom à trouver <u>mais</u> est mal placée.
      <br>Les lettres <strong class="text-unused">J</strong>,<strong class="text-unused">O</strong> et <strong
        class="text-unused">H</strong> ne sont pas dans le prénom à trouver.
    </p>

    <div class="flex justify-center rounded-md">
      <div
        class="border-2 border-right bg-right rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        V
      </div>
      <div
        class="border-2 border-right bg-right rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        A
      </div>
      <div
        class="border-2 border-right bg-right rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        R
      </div>
      <div
        class="border-2 border-right bg-right rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        Y
      </div>
      <div
        class="border-2 border-right bg-right rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        S
      </div>
    </div>
    <p class="pl-2 font-body text-zinc-700 tracking-normal">Bravo, vous avez trouvé !</p>
    <br>
  </div>
  <hr class="mb-3">
  <h3 class="text-xl text-zinc-700">Jokers :</h3>
  <br>
  <p class="font-body text-zinc-700 tracking-normal">Pour vous aider, vous disposez de plusieurs jokers différents :
  </p>
  <br>

  <div class="flex flex-row text-zinc-700">
    <i
      class="icon icon-format-paint text-xl w-10 h-10 rounded-full bg-secondary flex flex-col justify-center items-center text-white"></i>
    <p class="ml-2 font-body tracking-normal">
      - Révele une lettre utilisée dans le prénom à trouver.
    </p>
  </div>
  <div class="flex flex-row text-zinc-700">
    <i
      class="icon icon-format-color-text text-xl w-10 h-10 rounded-full bg-secondary flex flex-col justify-center items-center text-white"></i>
    <p class="ml-2 font-body tracking-normal">
      - Révéle et place correctement une lettre utilisée dans le
      prénom à trouver.
    </p>
  </div>
  <div class="flex flex-row text-zinc-700">
    <i class="icon icon-tv text-xl w-10 h-10 rounded-full bg-secondary flex flex-col justify-center items-center
    text-white"></i>
    <p class="ml-2 font-body tracking-normal">- Révéle la série d'origine dupersonnage.</p>
  </div>
  <br>

  <hr class="mb-3">
  <h3 class="text-xl text-zinc-700">Cas particulier :</h3>
  <br>
  <p class="font-body text-zinc-700 tracking-normal">Certains prénoms à trouver sont des prénoms composés
    <i>(Jean-Christophe par
      exemple)</i>.
    Dans ce cas, vous pourrez tenter un essai composé de deux prénoms valides mais qui ne forme pas un prénom composé
    existant.
  </p>
  <br>
  <h4 class="text-lg mb-2 text-zinc-700">Exemples :</h4>
  <div class="flex flex-col justify-center gap-2">
    <div class="flex justify-center rounded-md">
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        J
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        O
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        E
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        Y
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        -
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        R
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        O
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        S
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        S
      </div>
    </div>
    <p class="pl-2 font-body text-zinc-700 tracking-normal"> est une tentative valide car <strong>Joey</strong> et
      <strong>Ross</strong>
      sont deux
      prénoms
      valides.
    </p>

  </div>
  <hr class="my-4">
  <div class="text-zinc-500 italic mt-6 text-sm">
    <a href="https://www.flaticon.com/packs/letters-and-numbers-3" title="letters icons" class="underline">Background
      letters icons
      by Javier
      Danglada
      - Flaticon.com</a>
    <br>
    <a href="https://github.com/fontworks-fonts/RocknRoll" title="japanese font" class="underline">Background Japanese
      font by Fontworks Inc. - Github.com</a>
    <!-- <a href="https://www.freepik.com/free-vector/new-year-card-vector-template-with-year-rat-icon-variety-japanese-lucky-charms_33779585.htm#page=2&query=japan&position=30&from_view=search&track=sph">Image by callmetak</a> on Freepik
      Image by <a href="https://www.freepik.com/free-vector/hand-drawn-japanese-illustration-japanese-fan-with-flowers-koi-fish_31194650.htm#page=5&query=japan&position=38&from_view=search&track=sph">Freepik</a>
      Image by <a href="https://www.freepik.com/free-vector/hand-drawn-koi-illustration_30891304.htm#page=3&query=japan&position=30&from_view=search&track=sph">Freepik</a>
      <a href="https://www.freepik.com/free-vector/hand-drawn-koi-fish-illustration_30337512.htm#from_view=detail_alsolike">Image by pikisuperstar</a> on Freepik
      <a href="https://www.freepik.com/free-vector/japanese-seamless-vector-vintage-wave-pattern_11289793.htm#page=2&query=japan&position=10&from_view=search&track=sph">Image by callmetak</a> on Freepik
      <a href="https://www.freepik.com/free-vector/famous-japanese-cultural-icons_3853664.htm#query=japan&position=21&from_view=search&track=sph">Image by rawpixel.com</a> on Freepik
      <a href="https://www.freepik.com/free-vector/pastel-pink-japanese-style-wave-pattern-background_47766744.htm#page=5&query=japan&position=11&from_view=search&track=sph">Image by kjpargeter</a> on Freepik -->
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Compris !</button>
</mat-dialog-actions>