<div class="flex flex-col justify-center items-center p-1">
  <div class="flex mb-2">

    <joker-button class="m-1" [uses]="jokerService.joker1Uses$" (click)="clickJoker(1)" (touchstart)="touchJoker(1)">
      <button
        class="text-white bg-secondary rounded-full flex justify-center items-center m-1 w-10 h-10 hover:bg-sky-900 z-20 relative select-none">
        <i class="icon icon-format-paint"></i>
      </button>
    </joker-button>
    <joker-button class="m-1" [uses]="jokerService.joker2Uses$" (click)="clickJoker(2)" (touchstart)="touchJoker(2)">
      <button
        class="text-white bg-secondary rounded-full flex justify-center items-center m-1 w-10 h-10 hover:bg-sky-900 z-20 relative select-none">
        <i class="icon icon-format-color-text"></i>
      </button>
    </joker-button>
    <joker-button class="m-1" [uses]="jokerService.joker3Uses$" (click)="clickJoker(3)" (touchstart)="touchJoker(3)">
      <button
        class="text-white bg-secondary rounded-full flex justify-center items-center m-1 w-10 h-10 hover:bg-sky-900 z-20 relative select-none">
        <i class="icon icon-tv"></i>
      </button>
    </joker-button>


  </div>
  <ng-container *ngFor="let row of keyboardService.keyboard | keyvalue">
    <div class="flex flex-row justify-center items-center w-full">
      <ng-container *ngFor="let letter of row.value">

        <!-- <div *ngIf="i/10 === 1" class="flex flex-row justify-center items-center w-full">
        <ng-container *ngTemplateOutlet="letterTpl; context:{$implicit:letter}"></ng-container>
      </div>
      <ng-container *ngIf="i/10 !== 1">
        <ng-container *ngTemplateOutlet="letterTpl; context: {$implicit:letter}"></ng-container>
      </ng-container> -->

        <!-- <ng-template #letterTpl let-letter> -->
        <div *ngIf="!letter.special else specialLetter" (click)="clickEnterLetter(letter.letter)"
          (touchstart)="enterLetter(letter.letter)"
          class="text-white rounded-sm flex justify-center items-center m-0.5 w-[10%] text-[130%] select-none h-16 border-b-2 uppercase transition-all"
          [ngClass]="getLetterClass(letter.letter)">
          <span *ngIf="(keyboardService.letterFeedback$ | async)?.includes(letter.letter)"
            class="absolute bg-cyan-600 h-28 w-[9.5vw] text-white flex justify-center items-start mb-12 pt-3 z-50 pointer-events-none">
            {{letter.letter}}</span>

          {{letter.letter}}
        </div>
        <ng-template #specialLetter>
          <div (click)="clickEnterSpecialLetter(letter.letter)" (touchstart)="enterSpecialLetter(letter.letter)"
            class="text-white rounded-sm flex justify-center items-center m-0.5 w-[15%] text-[130%] select-none h-16 border-sky-900 uppercase transition-all"
            [ngClass]="{'opacity-50':isDisabled(letter.letter),'border-b-0 bg-cyan-600':(keyboardService.letterFeedback$ | async)?.includes(letter.letter),'bg-secondary border-b-2':!(keyboardService.letterFeedback$ | async)?.includes(letter.letter)}">
            <i *ngIf="letter.letter === 'delete'" class="icon icon-delete"></i>
            <i *ngIf="letter.letter === 'enter'" class="icon icon-corner-down-left"></i>
          </div>
        </ng-template>
        <!-- </ng-template> -->
      </ng-container>
    </div>
  </ng-container>

  <!-- <div *ngFor="let row of keyboardService.keyboard | keyvalue" class="flex flex-row justify-center items-center w-full">
    <ng-container *ngFor="let letter of row.value" class="">
      <div *ngIf="!keyboardService.isLetterSpecial(letter); else specialLetter" (click)="clickEnterLetter(letter)"
        (touchstart)="enterLetter(letter)"
        class="text-white rounded-sm flex justify-center items-center m-0.5 w-[10%] text-[130%] select-none h-16 border-b-2 uppercase transition-all"
        [ngClass]="getLetterClass(letter)">
        <span *ngIf="(keyboardService.letterFeedback$ | async)?.includes(letter)"
          class="absolute bg-cyan-600 h-28 w-[9.5vw] text-white flex justify-center items-start mb-12 pt-3 z-50 pointer-events-none">
          {{letter}}</span>

        {{letter}}
      </div>
      <ng-template #specialLetter>
        <div (click)="clickEnterSpecialLetter(letter)" (touchstart)="enterSpecialLetter(letter)"
          class="text-white rounded-sm flex justify-center items-center m-0.5 w-[15%] text-[130%] select-none h-16 border-sky-900 uppercase transition-all"
          [ngClass]="{'opacity-50':isDisabled(letter),'border-b-0 bg-cyan-600':(keyboardService.letterFeedback$ | async)?.includes(letter),'bg-secondary border-b-2':!(keyboardService.letterFeedback$ | async)?.includes(letter)}">
          <i *ngIf="letter === 'delete'" class="icon icon-delete"></i>
          <i *ngIf="letter === 'enter'" class="icon icon-corner-down-left"></i>
        </div>
      </ng-template>

    </ng-container>
  </div> -->
</div>

<!-- <div class="flex flex-col justify-end items-end w-full absolute bottom-1 right-1">
    <button (click)="delete()"
      class="text-white bg-secondary rounded-sm flex justify-center items-center m-0.5 w-[15%] text-[130%] select-none h-14 border-b-2 border-sky-900 uppercase hover:bg-sky-700 active:bg-sky-900 active:border-0">
      <i class="icon icon-delete"></i>
    </button>
    <button (click)="enter()"
      class="text-white bg-secondary rounded-sm flex justify-center items-center m-0.5 w-[15%] text-[130%] select-none h-14 border-b-2 border-sky-900 uppercase hover:bg-sky-700 active:bg-sky-900 active:border-0">
      <i class="icon icon-corner-down-left"></i>
    </button>

  </div> -->