<h2 mat-dialog-title>Bravo !</h2>
<mat-dialog-content class="">
  <p class="font-body text-zinc-700 tracking-normal">Ce jeu reprend le principe du jeu télévisé Motus mais sur le thème
    des séries.
    <br>Chaque jour,
    un nouveau prénom
    de
    personnage de série populaire est proposé. A vous de trouver en <strong>6 essais</strong> avec <u>n'importe quel
      prénom</u>.
  </p>
  <p class="font-body text-zinc-700 tracking-normal">
    Partagez votre score !
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>