<h2 mat-dialog-title>Découvrez les autres versions</h2>
<mat-dialog-content class="">
  <div class="flex flex-row justify-center items-center gap-8 pt-10 ">
    <a href="https://wordle-series.abvdev.fr"
      class="flex flex-col justify-center items-center cursor-pointer hover:text-zinc-400 text-zinc-700">
      <img src="/assets/images/others/icon-series.png" alt="series" class="w-[64px]">
      <h3 class="font-body ">Series</h3>
    </a>
    <a href="https://wordle-animes.abvdev.fr"
      class="flex flex-col justify-center items-center cursor-pointer hover:text-zinc-400 text-zinc-700">
      <img src="/assets/images/others/icon-animes.png" alt="animes" class="w-[64px]">
      <h3 class="font-body ">Animes</h3>
    </a>
  </div>
  <p class="font-body text-sm text-zinc-500 tracking-normal mt-10 text-center">
    De nouvelles versions arrivent !
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
</mat-dialog-actions>