<div
  class="h-full w-full overflow-hidden bg-gradient-to-tl from-gradient-start via-gradient-middle to-gradient-end"
  [ngClass]="(themeId$ | async) ?? ''">
  <div class="flex h-full justify-center">
    <div
      class="relative z-10 h-full w-full overflow-hidden bg-gradient-to-tl from-gradient-start via-gradient-middle to-gradient-end outline outline-2 outline-primary-900">
      <div class="relative z-20 h-full w-full">
        <topbar></topbar>
        <div class="h-full-w-topbar overflow-auto pt-[50px]">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div
        class="pointer-events-none absolute left-0 top-0 z-10 h-full w-full bg-wordcloud bg-[length:350px_350px] bg-repeat opacity-dynamic"></div>
    </div>
  </div>
</div>
