<h2 mat-dialog-title>Entrez votre prénom</h2>
<mat-dialog-content>
  <p class="italic font-normal font-body text-sm">Utilisé seulement lorsque vous partagerez votre score.</p>
  <form [formGroup]="form" class="pt-4 flex flex-col justify-center items-start">
    <mat-form-field>
      <mat-label>prénom</mat-label>
      <input matInput type="text" formControlName="playerName">
      <button *ngIf="form.get('playerName')?.value" matSuffix mat-icon-button aria-label="Clear"
        (click)="form.get('playerName')?.setValue('')">
        <i class="icon icon-x p-2 absolute right-1 top-2"></i>
      </button>
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]=" form.pristine" (click)="save()">Sauvegarder</button>
</mat-dialog-actions>