<h2 mat-dialog-title>Comment jouer ?</h2>
<mat-dialog-content class="mat-typography">
  <p>Ce jeu reprend le principe du jeu télévisé Motus mais sur le thème des séries. <br>Chaque jour, un nouveau prénom
    de
    personnage de série populaire est proposé. A vous de trouver en faisant des essais avec <u>n'importe quel
      prénom</u>.
    <i>(Un prénom valide est marqué comme non-valide ? signalez le en cliquant <a
        class="cursor-pointer"><u>ici</u></a>)</i>
  </p>
  <!-- <p><strong>Devinez un nouveau prénom chaque jour</strong>Cvisé Motus.</p>
  <h2>Devinez un nouveau prénom chaque jour.</h2>
  <h3>Devinez un nouveau prénom chaque jour.</h3> -->
  <h4>Exemples :</h4>
  <div class="flex flex-col justify-center gap-2">
    <div class="flex justify-center bg-background rounded-sm">
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        J
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        O
      </div>
      <div
        class="border-2 border-right bg-right rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        R
      </div>
      <div
        class="border-2 border-partial bg-partial rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        A
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        H
      </div>
    </div>
    <p class="pl-2">La lettre <strong class="text-right">R</strong> est dans le prénom à trouver <u>et</u> bien placée.
      <br>La lettre <strong class="text-partial">A</strong> est dans le prénom à trouver <u>mais</u> mal placée.
      <br>Les lettres <strong class="text-unused">J</strong>,<strong class="text-unused">O</strong> et <strong
        class="text-unused">H</strong> ne sont pas dans le prénom à trouver.
    </p>

    <div class="flex justify-center bg-background rounded-sm">
      <div
        class="border-2 border-right bg-right rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        V
      </div>
      <div
        class="border-2 border-right bg-right rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        A
      </div>
      <div
        class="border-2 border-right bg-right rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        R
      </div>
      <div
        class="border-2 border-right bg-right rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        Y
      </div>
      <div
        class="border-2 border-right bg-right rounded-md text-white flex justify-center items-center w-10 h-10 m-1 text-lg">
        S
      </div>
    </div>
    <p class="pl-2">Bravo, vous avez trouvé !</p>
  </div>
  <hr class="mb-3">
  <h4>Cas particulier :</h4>
  <p>Certains prénoms à trouver sont des prénoms composés <i>(Jean-Christophe par exemple)</i>.
    Dans ce cas, vous pourrez tenter un essai composé de deux prénoms valides mais qui ne forme pas un prénom composé
    existant.
  </p>
  <h4>Exemples :</h4>
  <div class="flex flex-col justify-center gap-2">
    <div class="flex justify-center bg-background rounded-sm">
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        J
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        O
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        E
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        Y
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        -
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        R
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        O
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        S
      </div>
      <div
        class="border-2 border-unused bg-unused rounded-md text-white flex justify-center items-center w-6 h-6 m-1 text-sm">
        S
      </div>
    </div>
    <p class="pl-2"> est une tentative valide car <strong>Joey</strong> et <strong>Ross</strong> sont deux prénoms
      valides.
    </p>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>A vous de jouer !</button>
</mat-dialog-actions>