<div
  class="h-full w-full overflow-hidden bg-gradient-to-tl from-gradient-start via-gradient-middle to-gradient-end"
  [ngClass]="classes$ | async"
  (touchstart)="platformService.enableTouchStart()">
  <div class="flex h-full justify-center">
    <!-- <div class="lg:block hidden shrink w-52">
   adds should go here
    </div> -->
    <div
      [ngClass]="themeService.specialClasses"
      class="relative z-10 h-full max-w-[850px] grow overflow-hidden bg-gradient-to-tl from-gradient-start via-gradient-middle to-gradient-end shadow-xl shadow-primary-900/50">
      <div class="relative z-20 h-full w-full">
        <topbar></topbar>
        <div class="h-full-w-topbar">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div
        [ngClass]="themeService.specialClasses ? 'opacity-20' : 'opacity-dynamic'"
        class="pointer-events-none absolute left-0 top-0 z-10 h-full w-full bg-wordcloud bg-[length:350px_350px] bg-repeat opacity-dynamic"></div>
    </div>
    <!-- <div class="lg:block hidden shrink w-52">
   adds should go here
    </div> -->
  </div>
</div>
