<div class="w-full overflow-hidden h-full bg-gradient-to-tl from-gradient-start via-gradient-middle to-gradient-end"
  [ngClass]="classes$ | async" (touchstart)="platformService.enableTouchStart()">
  <div class="h-full flex justify-center">
    <div
      class="z-10 overflow-hidden h-full w-full max-w-[850px] relative outline outline-2 outline-primary-900 bg-gradient-to-tl from-gradient-start via-gradient-middle to-gradient-end">
      <div class="h-full w-full z-20 relative">
        <topbar></topbar>
        <div class="h-full-w-topbar">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div
        class="h-full w-full bg-wordcloud bg-[length:350px_350px] bg-repeat opacity-dynamic top-0 left-0 z-10 absolute pointer-events-none">
      </div>
    </div>
  </div>

</div>